*{
    margin: 0;
    padding: 0;
}

#calculator{
    background-color: black;
    color: white;
    width: 250px;
    margin: 5% 30%;
    padding: 10px;
}

button{
    background-color: gray;
    border-radius: 50%;
    height: 60px;
    width: 60px; 
    border: 5px solid black;
    color: white;
    font-size: 150%;
    
}

.operator{
    background-color: orange
}
#equals{
    width: 100%;
    border-radius: 50px;
    background-color: lightgray;
    color: black;
    height: 50px;
}
#display{
    height: 50px;
    text-align: end;
    font-size: 36px;
    margin-right: 12px;

}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}